{% extends "base.html" %}

{% block title %}Connexion - Comptoir de l'Ouest{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Connexion</div>
                <div class="card-body">
                    <p>Veuillez utiliser le formulaire de connexion dans le header pour vous connecter.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
